/* PHASE 3: Forms */

.content-main {
  width: 620px;
  padding: 20px;
  min-height: 200px;
}

.content-main > form {
  display: flex;
}

.content-form {
  background-color: #eee;
}

.content-form > a {
  display: block;
}
